@import "./helpers/colors.scss";

@media screen and (min-width:1440px){
  header{
    margin: 0 10rem;
    height: initial;
    width: 80%;
    .wrapper-header{
      border-bottom: 1px solid $Grayish-blue;
      padding: 0;
      // margin: 0 10.5rem;
      .wrapper-logo-button{
        .menu-mobile{
          display: none;
          img{
            display: none;
          }
        }
      }
      .wrapper-links{
        height: initial;
        z-index: 0;
        position: relative;
        left: 0;
        padding: 0 0 0 4rem;
        background:none;

        .close-menu{
          display: none;
        }
        & > .links{
          margin: 0;
          align-items: center;
          flex-direction: row;
          gap: 1.5rem;

          li{
            padding: 2.7rem 0;
            border-bottom: 1px solid transparent;
            transition: .2s;
            &:hover{
              border-bottom: 1px solid $orange;
            }
            a{
              font-size: 1rem;
              font-weight: normal;
              &:hover{
                opacity: 100%;
              }
            }
          }
        }
      }

      .wrapper-shop{
        gap: 2.8rem;

        .shopping-card{
          top:unset;
          left:unset;

          width:23%;
          height: 30%;

          top: 4.5rem;

          &.active{
            animation: unset;
          }
        }
        .user{
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }

  main{
    display: flex;
    align-items: center;
    margin: 3.7rem 10rem 0 10rem;
    gap: 1rem;

    .wrapper-image{
      width: 92%;
      height: 69vh;
      margin-top: 1.5rem;
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .img-prod{
        width: inherit;
        height: inherit;
        border-radius: 1rem;
        .arrow-left{
          display: none;
        }
        .arrow-right{
          display:none;
        }
      }
      .tumbs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: inherit;
        height: 8.5rem;
        // background-color: orange;
        .imgs-thumb{
          width: 6.5rem;
          height: 100%;
          border: 2px solid transparent;
          border-radius: 1rem;
          cursor: pointer;
          transition: .1s;
          img{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
          }

          &.active, &:hover{
            border: 2px solid $orange;
            img{
              opacity: 40%;
              border-radius: .8rem;
            }
          }
        }
        
      }
    }
    .description-product{
      margin: 3.2rem 0 0 0;
      h3{
        font-size: 3rem;
      }
      p{
        margin-top: 1.5rem;
      }
      .wrapper-price{
        flex-direction:column;
        gap: .8rem;
      }
      .inputs{
        margin-top:2rem;
        flex-direction:row;
        .count-items{
          width: 50%;
        }
      }
    }
  }
}